.container {
  width: 385px;
  height: 822px;

  .header_wrap {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 12px 0px;
    .image_wrap {
      padding-left: 20px;
      img {
        padding-top: 3px;
      }
    }

    .header {
      font-family: NotoSansCJKkr;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
      padding-right: 30px;
      padding-top: 5px;
    }

    .cancel {
      font-size: 23px;
      align-self: center;
      padding-right: 20px;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .request_detail_wrap {
    position: relative;
    z-index: 2;
    margin-top: 15px;

    .list_wrap {
      box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.1);
      border-top-right-radius: 21px;
      border-top-left-radius: 15px;
      background-color: white;
      .list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        .tab_list {
          width: 125px;
          padding: 15px 0px;
          list-style: none;
          text-align: center;

          border-bottom: 1px solid #e6e6e6;
          a {
            color: black;
            text-decoration: none;
            font-family: NotoSansCJKkr;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: #b4b4b4;
          }
        }
        .active {
          width: 125px;
          padding: 15px 0px;
          list-style: none;
          text-align: center;
          border-bottom: 2px solid #1877f2;
          .anchor {
            color: #1877f2;
            text-decoration: none;
            font-family: NotoSansCJKkr;
            font-size: 15px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
          }
        }
      }
    }
    .content {
      .wrap {
        .header {
          display: flex;
          justify-content: space-between;
          background-color: white;
          padding: 20px;
          .title {
            font-family: NotoSansKR;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: #929292;
          }
          .name {
            font-family: NotoSansKR;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: right;
            color: #333333;
          }
        }
        .divider {
          height: 10px;

          background-color: #f7f8fa;
        }
        .suggestion_cars {
          display: flex;
          flex-direction: column;
          background-color: white;
          padding: 20px;
          .row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .title {
              font-family: NotoSansKR;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: normal;
              text-align: left;
              color: #929292;
            }
            .name {
              margin-top: 10px;
              font-family: NotoSansKR;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: normal;
              text-align: right;
              color: #333333;
            }
          }
        }
        .additional_info {
          background-color: white;

          padding: 20px;
          .content {
            display: flex;
            flex-direction: column;

            .title {
              font-family: NotoSansKR;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: normal;
              text-align: left;
              color: #929292;
            }
            .name {
              font-family: NotoSansKR;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: normal;
              text-align: left;
              color: #333333;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
  }

  100% {
    transform: translateY(-210px);
  }
}

.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0% {
    transform: translateY(-210px);
  }

  100% {
    transform: translateY(0px);
  }
}
